<div class="row">
  <p>
    Global CSS settings,
    fundamental HTML elements styled and enhanced with extensible classes, and an advanced grid system.
  </p>
  <%= link_to 'Start', root_path, class: 'btn btn-lg btn-primary' %>
</div>